@font-face {
  font-family: "gyuri";
  src: url("./font/gyuri.ttf");
}
@font-face {
  font-family: "abba";
  src: url("./font/nanum_abba.ttf");
}
@font-face {
  font-family: "hippy";
  src: url("./font/나눔손글씨 바른히피.ttf");
}
@font-face {
  font-family: "godding";
  src: url("./font/나눔손글씨 고딕 아니고 고딩.ttf");
}
@font-face {
  font-family: "wife";
  src: url("./font/나눔손글씨 나의 아내 손글씨.ttf");
}
@font-face {
  font-family: "neurit";
  src: url("./font/나눔손글씨 느릿느릿체.ttf");
}

@font-face {
  font-family: "bumsom ";
  src: url("./font/나눔손글씨 범솜체.ttf");
}

@font-face {
  font-family: "mom";
  src: url("./font/나눔손글씨 빵구니맘 손글씨.ttf");
}

@font-face {
  font-family: "well";
  src: url("./font/나눔손글씨 잘하고 있어.ttf");
}

* {
  font-family: "hippy";
}

body {
  margin: 0;
}

.diaryMain__Page {
  /* margin-left: 0;
  margin-top: 1%;
  margin-bottom: 0%;
  bottom: 0%;
  width: 99%;
  height: 100%;

  background-image: url("./img/main_bg_2.svg");
  background-size: cover;
  border-radius: 0px 50px 0px 0px; */
  /* border: 1px solid #000000; */
  margin-left: 0;
  position: relative;
  bottom: 0%;
  width: 99%;
  height: 100%;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #dac0a9;
  border-radius: 0px 50px 0px 0px;
  box-shadow: rgb(0 0 0/50%) 0px 0px 18px 0px; */
  background-image: url("./img/main_bg_3.svg");
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}

/* .loginMain__Page {
  position: absolute;
  margin-left: -20px;
  margin-bottom: 0%;
  bottom: 0%;
  width: 110%;
  height: 100%;
  /* background: #fffdfd; 
  background-image: url("./img/loginMain__Page.svg");
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
} */
