.Card_list_container_try{
    display: flex;
    flex-wrap: nowrap;

    overflow: scroll;
    
}

.Card_container_try {
    background: #fff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0.2, 0.2, 0.2, 0.2);
    
    display: flex;
    padding: 3rem;
    overflow-x: scroll;

    /* margin-left: 5rem;
    margin-bottom: 5rem; */
    margin: 2rem;
    position: relative;
}

.cards_form_try {
    /* padding: 2rem 2rem 2rem 2rem;
    margin-left: 1rem; */
}

h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

h1 {
    margin: 0 0 1.5rem 0;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.45;
}

p {
    margin: 0 0 4.5rem 0;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.45;
}

.btn_primary {
    border: none;
    outline: none;
    text-decoration-line: none;

    background:rgba(226, 113, 42, 0.768);
    color: black;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 1.2rem;

    align-items: center;

}

/* 카드의 당근 아이콘 배치 및 이미지 크기 조절 */
.img_pod_try {
    height: 100px;
    width: 100px;

    z-index: 10;
    /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3); */
    border-radius: 0%;
    
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carroticon {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.2); */
    z-index: 1;
}