.diaryCreate {
  /* padding: 6.25em; */
  /* position: relative; */
  position: absolute;
  /* border: 1px solid midnightblue; */
  margin-left: 3em;
  margin-top: 3em;
  width: 90%;
  height: 90%;

  z-index: 9999;
  font-size: 1.25em;
}

.diaryCreate input,
textarea,
button {
  border-radius: 0.3125em;
  background: #eee7db;
  border: 0 solid black;
  font-size: 0.9375em;
}
.diaryCreate__container {
  /* border: 1px solid mediumspringgreen; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
}
.diaryCreate__nonDalle {
  /* position: absolute; */
  /* border: 1px solid blue; */
  width: 65%;
  height: 100%;
  margin: 0em;
  float: left;
}
.diaryCreate__nonDalle input,
select,
button {
  height: 1.875em;
}
.diaryCreate__nonDalle .setion0 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.9375em;
}
.diaryCreate__nonDalle .setion1 {
  margin-top: 0.125em;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.9375em;
}
.diaryCreate__nonDalle .setion1 input {
  width: 40%;
  text-align: center;
}

.diaryCreate__nonDalle .setion2 {
  width: 100%;
  margin-bottom: 0.625em;
}
.diaryCreate__nonDalle .setion2 .tags {
  padding-top: 0.625em;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.diaryCreate__nonDalle .setion2 input {
  text-align: center;
  width: 25%;
  margin: 0.3125em;
  caret-color: #604e2e;
}
.diaryCreate__nonDalle .setion2 button {
  width: 25%;
  margin: 0.3125em;
  background: #c1ab86;
}
.diaryCreate__nonDalle .setion2 button:hover {
  opacity: 1;
  background: #604e2e;
  color: white;
}
.diaryCreate__nonDalle .setion3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25em;
}
.diaryCreate__nonDalle .setion3 select {
  margin-left: 0.625em;
  border-radius: 0.25em;
  border: 1px solid #c1ab86;
  outline: 0 none;
  text-align: center;
}

.diaryCreate__nonDalle .setion3 .selectBox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  /* // select가 위로 올라와야 함 */
}
.diaryCreate__nonDalle .setion3 .selectBox .select option {
  background: #c1ab86;
  color: #fff;
  padding: 0.1875em 0;
  font-size: 1em;
  border-radius: 0.25em;
}
.diaryCreate__nonDalle .setion3 .selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 2.1875em;
  height: inherit;
  /* border-left: 2px solid lightcoral; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.diaryCreate__nonDalle .setion3 .selectBox .icoArrow img {
  width: 50%;
  transition: 0.3s;
  /* // 부드럽게 회전 */
}

.diaryCreate__nonDalle .setion3 .selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

/* .diaryCreate__nonDalle .setion3 select option {
  background: black;
  color: #fff;
  padding: 3px 0;
} */

.diaryCreate__nonDalle .setion4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25em;
  margin-left: 0.3125em;
  width: 95%;
  height: 50%;
}
.diaryCreate__nonDalle .setion4 textarea {
  width: 100%;
  padding: 0.625em;
  font-size: 1.25em;
}
.diaryCreate__nonDalle .setion5 {
  width: 95%;
  /* height: 10%; */
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25em;
  margin-left: 0.3125em;
}
.diaryCreate__nonDalle .setion5 {
  /* border: 1px soild brown; */
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.25em;
  margin-left: 0.3125em;
}
.diaryCreate__nonDalle .setion5 button,
select {
  width: 35%;
  margin-right: 0.3125em;
  text-align: center;
}

.diaryCreate__nonDalle .setion5 button:hover {
  opacity: 1;
  background: #604e2e;
  color: white;
}
.diaryCreate__dalle {
  /* border: 1px solid violet; */
  width: 32%;
  height: 100%;
  float: right;
  margin: 0em;
  /* padding: 3em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.diaryCreate__dalle_img {
  border: 1px solid #eee7db;
  background: #c1ab86;
  border-radius: 0.3125em;
  width: 100%;
  height: 50%;
  margin-top: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.diaryCreate__dalle_img img {
  margin-top: 1em;
  border-radius: 0.3125em;
  border: 1px solid #ffff;
  position: absolute;
  z-index: 9999;
  width: 90%;
}
.diaryCreate__dalle_text {
  border: 1px solid #eee7db;
  background: #ffff;
  /* color: #eee7db; */
  border-radius: 0.3125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 10%;
  margin-top: 105%;
  text-align: center;
  /* bottom: 0px; */
}

.diaryCreate__dalle_none {
  margin-top: 1em;
  border-radius: 0.3125em;
  background: #604e2e;
  color: white;
  border: 1px solid #ffff;
  position: absolute;
  z-index: 9999;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .diaryCreate__dalle_none hover {
  opacity: 1;
  background: #c1ab86;
  color: white;
} */
