.login__main {
  /* border: 5px solid purple; */
  /* position: absolute; */
  width: 60em;
  height: 50%;
  /* margin-left: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .login_sub1 {
  border: 6px solid #000000;

  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_sub2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
