.siginIn_form {
  border: 1px solid #000000;
  position: absolute;
  margin-left: 20%;
  /* width: 60em;
  height: 700px;
  margin-top: 65%;
  display: flex;
  justify-content: center;
  align-items: center; */
}
